node_modules
.expo
VaccineLocatorFrontend/node_modules
VaccineLocatorFrontend/node_modules\@babel\plugin-proposal-class-properties\node_modules\@babel\helper-create-class-features-plugin\node_modules\@babel\core\lib\config\validation
